.filter-container {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  align-items: center;
  max-width: 110px;;
  position: relative;
}

.checkbox-container {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  background-color: #f2fcff;
  margin: 0px;
  position: relative;
  cursor: pointer;
}

.checkbox-active {
  border: 1px solid #2196f3;
}

.checkbox-inactive {
  border: 1px solid #d2d5d6;
}

.checkmark {
  user-select: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.checkbox-text {
  color: #4a4a4a;
  font-family: "Open Sans";
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
}

.filter-panel-container {
  width: 236px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  padding: 15px 15px 20px 15px;
  box-sizing: border-box;
}

.currency-panel-text {
  color: #4a4a4a;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}

.currency-btns-panel {
  margin-top: 10px;
}

.filter-btn {
  width: 68px;
  height: 40px;
  font-size: 12px;
  font-family: "Open Sans Semibold";
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.left-btn {
  border-radius: 5px 0 0 5px;
}

.right-btn {
  border-radius: 0 5px 5px 0;
}

.active-btn {
  background-color: #2196f3;
  color: #ffffff;
}

.inactive-btn {
  background-color: #f2fcff;
  color: #2196f3;
  border: 1px solid #d2d5d6;
}

.inactive-btn:hover {
  border: 1px solid #64b5f5;
}

.transitions-filter-panel {
  text-align: left;
  margin-top: 30px;
}

.transition-filter-text {
  color: #4a4a4a;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}

.checkbox-only-text {
  position: absolute;
  right: -85px;
  color: #2196f3;
  font-family: "Open Sans Semibold";
  font-size: 11px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
}